[submodule "modules/truth"]
	path = modules/truth
	url = git://github.com/glencoesoftware/puppet-truth.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = git://github.com/glencoesoftware/puppet-puppet.git
[submodule "modules/rack"]
	path = modules/rack
	url = git://github.com/glencoesoftware/puppet-rack.git
[submodule "modules/webserver"]
	path = modules/webserver
	url = git://github.com/glencoesoftware/puppet-webserver.git
[submodule "modules/base"]
	path = modules/base
	url = git://github.com/glencoesoftware/puppet-base.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/glencoesoftware/puppetlabs-mysql.git
[submodule "modules/builder"]
	path = modules/builder
	url = git://github.com/glencoesoftware/puppet-builder
[submodule "modules/omero"]
	path = modules/omero
	url = git://github.com/glencoesoftware/puppet-omero.git
[submodule "modules/redmine"]
	path = modules/redmine
	url = git@github.com:glencoesoftware/puppet-redmine.git
